.navbar-inverse {
    border-radius: 0px;
}

.navbar a {
    color: white;
}

.navbar-brand {
    font-size: 25px;
}
.nav li a:hover{
    background: maroon;
}

header {
    color: white;
    height: 350px;
    padding: 150px 50px;
}

.post {
    border-bottom: 1px solid black;
}

.post a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.post a:hover {
    color: maroon;
}